[tool.ruff]
exclude = [
    ".git",
    "docs",
    "setup.py",
    "pyfar/dsp/filter/_audiofilter.py",
    "pyfar/samplings/external",
]
line-length = 79
lint.ignore = []
lint.select = [
    "ARG",
    "C4",
    "E",
    "F",
    "W",
    "D100", # Missing docstring in public module
    "D101", # Missing docstring in public class
    "D102", # Missing docstring in public method
    "D103", # Missing docstring in public function
    "D104", # Missing docstring in public package
    "D105", # Missing docstring in magic method
    "D106", # Missing docstring in public nested class
    "D206", # Docstring should be indented with spaces, not tabs
    "D207", # Docstring is under-indented
    "D208", # Docstring is over-indented
    "D407", # Missing section underline
    "D408", # Section underline should be in the line following the section's name
    "D409", # Section underline should match the length of its name
    "D410", # Missing blank line after section
    "D411", # Missing blank line before section
    "D412", # No blank lines allowed between a section and its content
    "D414", # Section has no content
    "D419", # Docstring is empty
    "D415", # First line should end with a period
    "D417", # Missing argument descriptions in the docstring
    "A",
    "ERA",
    "NPY",
    "COM",
    "I002",
    "TID252",
    "FIX",
]

# Ignore missing docstrings in tests
[tool.ruff.lint.per-file-ignores]
"tests/*" = [
    "D100",
    "D101",
    "D103",
    "D104",
]
