pip
bump2version
wheel
watchdog
flake8
tox
coverage
Sphinx
twine
pytest
pytest-runner
pytest-cov
numpy>=1.23.0
scipy>=1.5.0
matplotlib
urllib3
deepdiff
insipid-sphinx-theme
tox-wheel
autodocsumm
soundfile
sofar>=0.1.2
nbmake>=0.7.0
