pip
bump2version
wheel
watchdog
flake8
coverage
Sphinx
twine
pytest
pytest-runner
pytest-cov
numpy>=1.23.0
scipy>=1.5.0
matplotlib<=3.7
urllib3
deepdiff
insipid-sphinx-theme
autodocsumm
soundfile>=0.11.0
sofar>=1.1.1
nbmake>=0.7.0
ipykernel
nbsphinx
nbsphinx-link
