name: create pr from cookiecutter

on:
  repository_dispatch:
    types: [pull_master]
  pull_request:
    types: [ labeled ]

jobs:
  create-pr-from-cookiecutter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: 3.13
      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install . cookiecutter
      - name: Configure Git
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
      - name: create pr from cookiecutter
        run: |
          # grab pyfar version
          PYFAR_VERSION=$(python -c "import pyfar; print(pyfar.__version__)")

          # run cookiecutter
          cookiecutter gh:pyfar/cookiecutter-pypackage --overwrite-if-exists --directory . --output-dir ./.. --no-input  project_name=pyfar default_python_version=3.13 install_libsndfile1='y' project_short_description="Python package for acoustics research" project_long_description="The python package for acoustics research (pyfar) offers classes to store audio data, filters, coordinates, and orientations. It also contains functions for reading and writing audio data, as well as functions for processing, generating, and plotting audio signals." keywords='"pyfar","acoustics","Fourier transforms","audio signal processing","filterbanks","parametric filters","audio signal visualization","read and write audio signals"' version=$PYFAR_VERSION new_project='n'

          # restore files which are modified during development
          git restore HISTORY.rst
          git restore LICENSE
          git restore docs/api_reference.rst
          git restore pyfar/__init__.py

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
            commit-message: apply cookiecutter template
            title: "[Bot]: apply cookiecutter template"
            base: main
            body: |
              - apply latest changes from cookiecutter master branch
  
              Auto-generated by [create-pull-request][1]
  
              [1]: https://github.com/peter-evans/create-pull-request
            branch: bot/apply_cookiecutter
            draft: true
